fastapi
uvicorn[standard]
sqlalchemy>=2.0
pydantic[email]
python-dotenv
openai
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-multipart
passlib[bcrypt]
argon2-cffi
python-jose[cryptography]
stripe
psycopg2-binary
